PUID=1000
PGID=1000
TZ=America/New_York

# qBittorrent credentials
QBIT_USER=change-me
QBIT_PASS=change-me

# cross-seed
CROSS_SEED_API_KEY=change-me
PROWLARR_API_KEY=change-me
SONARR_API_KEY=change-me
RADARR_API_KEY=change-me

# Gluetun + Proton
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=openvpn
VPN_PORT_FORWARDING=on
VPN_PORT_FORWARDING_PROVIDER=protonvpn
PORT_FORWARD_ONLY=on
SERVER_COUNTRIES=United States
OPENVPN_PROTOCOL=tcp
OPENVPN_USER=change-me
OPENVPN_PASSWORD=change-me
