# Postgres superuser / admin
POSTGRES_USER=postgres_admin
POSTGRES_PASSWORD=replace_with_a_long_random_password
POSTGRES_DB=n8n

# n8n app user
POSTGRES_NON_ROOT_USER=n8n_user
POSTGRES_NON_ROOT_PASSWORD=replace_with_another_long_random_password

N8N_VERSION=latest
N8N_HOST=n8n.yourdomain.com
